# Python virtual environments
venv/
.venv/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
drs_incident_monitor_info.log*
drs_case_monitor_error.log*

# OS/editor files
.vscode/
.DS_Store
Thumbs.db
